.term-index-container {
    text-align: center;
}

.term-index-column {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
